body {
    font-family: montserrat, arial, verdana
}

#msform {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: #fff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 10%; */
    position: absolute;
    /* position: relative; */
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 13px
}

#msform .action-button {
    width: 100px;
    background: #27ae60;
    font-weight: 700;
    color: #fff;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #27ae60
}

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px
}

.fs-subtitle {
    font-weight: 400;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step
}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 9px;
    width: 14.2857143%;
    float: left;
    position: relative
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #fff;
    border-radius: 3px;
    margin: 0 auto 5px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #0f87ff;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1
}

#progressbar li:first-child:after {
    content: none
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #0f87ff;
    color: #fff
}