.top {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: relative;
}

.top-main {
    height: 100%;
}

.top .title {
    font-size: 18px;
    font-weight: 700px;
    position: absolute;
    left: 0;
    height: 100%;
    line-height: 70px;
    padding: 0 10px 0 10px;
    background-image: url(../images/line.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.layui-main {
    width: 1000px;
}

.container {
    background-color: #fff;
}

.zjkl .container-title {
    font-size: 17px;
    padding: 10px 36px;
    background-image: url(../images/line2.jpg);
    background-position: 27px 15px;
    background-repeat: no-repeat;
    margin: 10px 0;
}

.zjkl .xcdtgc {
    width: 98px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}


/* 报告主编 */

.report-writing,
.field-low-sounding-observation,
.report-reviewing,
.report-for-approval {
    min-height: 36px;
    min-width: 180px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.report-writing li,
.field-low-sounding-observation li,
.report-reviewing li,
.report-for-approval li {
    margin-right: 4px;
    color: #0279d3;
    border: 2px solid #0177D5;
    border-radius: 15px;
    padding: 0 5px;
    cursor: pointer;
}

.zjkl .report-writing li i {
    vertical-align: middle;
    color: rgb(164, 164, 164);
}

.report-writing span,
.field-low-sounding-observation span,
.report-reviewing span,
.report-for-approval span {
    cursor: pointer;
    color: #bd8300;
}


/* 数据导入 */

.gcsj-title {
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
}

.gcsj-content {
    margin-left: 15px;
    /* width: 450px; */
}

.gcsj-content input {
    width: 300px;
    display: inline-block;
}

.czz-title {
    display: block;
    padding: 9px 15px;
    width: 110px;
    font-weight: 400;
    line-height: 20px;
}

.czz-title i {
    color: #f40;
    cursor: pointer;
    margin-left: 10px;
}

.czz-content {
    margin-left: 15px;
    width: 700px;
}

.czz-content input {
    width: 300px;
    display: inline-block;
}

.data-gxz-box {
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 20px;
    padding-top: 20px;
}

.data-add-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.add {
    padding-left: 15px;
    cursor: pointer;
    padding-bottom: 15px;
}

.new-btn {
    text-align: right;
    padding-right: 330px;
}


/* 更改上传文件输入高度 弹出框的尺寸 */

.layui-layer-prompt .layui-layer-input {
    width: 300px !important;
}


/* 下一步灰色 */

.action-button[disabled] {
    background-color: #ccc !important;
}


/* 气象站多个文件上传 */

.layui-input-block.czz-content {
    margin: 20px 0;
    width: 100%;
}

.layui-input-block.czz-content .qxzwd {
    margin-right: 20px;
}


/* 确定的数据 */

#confirmData form label {
    width: 170px;
}

#confirmData form label~div {
    margin-left: 200px;
}