body {
    background-color: #e6e6e6;
}

.left {
    width: 300px;
    height: 100%;
    background-color: #282c33;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.left .hide-scroll {
    width: 320px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

.left .layui-tree-entry:hover {
    background-color: rgb(13, 62, 94);
}

.layui-tree-iconArrow.active-icon::after {
    border-color: transparent transparent #c0c4cc transparent;
}

.left .tree-title {
    width: 300px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.left .layui-tree-txt {
    color: #fff;
}

.layui-tree-iconClick {
    vertical-align: text-top;
}

.hide-show-buttom {
    width: 15px;
    height: 70px;
    /* background-color: #000; */
    position: absolute;
    top: 50%;
    left: 300px;
    margin-top: -35px;
    z-index: 999;
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    background-image: url(../images/arrows.png);
}


/* ////////////////////////////////////////////////////////////// */

.right {
    overflow-y: scroll;
    width: auto;
    min-width: 1000px;
    height: 100%;
    background-color: #e6e6e6;
    position: fixed;
    left: 300px;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.right .r-title-top {
    display: flex;
    padding: 10px 5px;
    align-items: center;
    justify-content: space-between;
}


/* .right .r-title-top .r-right {
    text-align: right;
} */


/*  edit编辑器*/

.edit {
    display: flex;
    padding: 6px;
    border-radius: 5px;
    background-color: #fff;
}

.edit .edit-left {
    width: 70%;
    display: inline-block;
    height: 300px;
}

.edit .edit-template {
    width: 30%;
    padding:0 10px 10px 10px;
    overflow-y: scroll;
    height: 300px;
}
.edit .edit-template::-webkit-scrollbar {display:none}
.edit .edit-template .edit-template-title{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.edit .edit-template .edit-template-title .edit-template-title-btn{
    color: rgb(0, 119, 213);
    cursor: pointer;
}
.btn-upload{
    width: 50px;
    height: 50px;
    background-color: #5d9dd5;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: none;
}
/* iframe */
.editBottom{
    height: calc(100% - 374px);
}
#iframe-chapter{
    /* height: 100%; */
    min-height: 100%;
}